#product-price-section {
	width: 100vw;
	height: 100vh;
	background: white;
}

#product-price-section > main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#product-float-left {
	width: 20rem;
	float: left;
	margin-top: -16rem;
	margin-left: -2rem;
}

#product-price-section > main > section {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1rem;
}

#product-price-section > main > section + section {
	margin-top: -0rem;
}

#product-price-section > main > section >  div > h4 {
	font-size: 2rem;
	text-align: center;
}

#product-price-section > main > section >  div > p {
	font-size: 1.3rem;
	text-align: center;
	margin-top: 2rem;
}

#workout-undraw {
	width: 18rem;
	float: right;
	margin-right: .4rem;

}

#running-undraw {
	width: 18rem;
	float: left;
	margin-right: 1rem;
}

