#security-section {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(90deg, #007CF0, #00DFD8);
	color: white;
}

#security-section main h2 {
	font: 2.6rem sans-serif;
	padding: 2rem 0rem;
	padding-left: 1rem;
	letter-spacing: 0;
	margin-top: 2rem;
	font-weight: bold;
}

#security-section main h3 {
	display: inline;
	font: 2.3rem sans-serif;
	margin-left: 1rem;
	font-weight: bold;
}

#security-section main p {
	font: 1.8rem sans-serif;
}

#security-section img {
	width: 3rem;
	height: 3rem;
	margin-left: 2rem;
}

#security-section section {
	display: flex;
	align-items: center;
}

#security-section-articles {
	height: 70vh;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#security-section-articles p {
	margin-top: 1.5rem;
}

@media (min-width: 800px) {

	#security-section-articles {
		display: initial;
		margin-top: -5rem;
	}

	#security-section-articles > article {
		width: 100%;
		margin: 6rem auto
	}

	#security-section > main {
		display: flex;
		flex-direction: column;
	}

	#security-section > main > h2 {
		font-size: 4rem;
	}

	#security-section p {
		text-align: start;
	}
}